*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
body{
    display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: skyblue;
}
.container{
display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.form{
    width: 500px;
    display: inline;
    max-height: min-content;
        padding: 20px;
        background-color: #f2f2f2;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.form .img{
    width:80% ;
    height: 80%;
    margin-bottom: 20px;
    margin: auto;
}
.form .img img{
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;
    
  
    
}
.form .img p{
    text-align: center;
    color: #666;
}
.form .form-group{
    margin-bottom: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
}
.form .form-group button{
    margin-top: 10px;
        padding: 10px 20px;
        background-color: #0a4581;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
}
.form .form-group a{
    margin-top: 10px;
        text-decoration: none;
        color: black;
        text-align: center;
}
.form .form-group input{
    border-radius: 15px;
}