*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}
.container{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;

}
#login{
    width: 500px;
    padding:20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

#login h1{
    text-align: center;
    margin-bottom: 20px;
}
#login .form-group{
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;

}

#login .form-group label{
    font-weight: bold;
    margin-bottom: 5px;
}
#login .form-group button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #0a4581;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#login .form-group button a{
    color: #fff;
    text-decoration: none;
    font-size:large;
}
#login .form-group a{
    margin-top: 10px;
    text-decoration: none;
    color:black;
    text-align: center;
}

#login .form-group a:hover{
    color: #0a4581;
}

#login .form-group button:hover{
    background-color: #083359;
}

