<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/apps/assets/css/Slide.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>SlideBar</title>
</head>
<body>
    <div class="slidebar">
        <ul>
            <li><a href="/Templates/Home.html">
                <i class="fas fa-home"></i>
                <p>Home</p>

            </a></li>
            <li><a href="/Templates/Profile.html">
                <i class="fas fa-user-group"></i>
                <p>Clients</p>
            </a></li>
            <li><a href="/Templates/Services.html">
                <i class="fas fa-cog"></i>
                <p>Services</p>
            </a></li>
            <li><a href="/Templates/Contact.html">
                <i class="fa fa-commenting" aria-hidden="true"></i>
                <p>Contact</p>
            </a></li>
            <div class="log">
                <li><a href="/apps/Login.html">
                        <i class="fas fa-sign-out-alt"></i>
                        <p>Logout</p>
                    </a></li>
            </div>
        </ul>
      
    </div>
    
    <script src="/apps/assets/js/SlideBar.js"></script>
</body>
</html>